<configuration>
  <appSettings>
    <add key="log4net" value="Vueling.Common.Logic.Utils.AdapterLog4NetLogger" />
    <add key="serilog" value="Vueling.Common.Logic.Utils.AdapterSerilogLogger" />
    <add key="scriptInsertSqlTest" value="ScriptInsertSqlTest" />
    <add key="scriptDeleteSqlTest" value="ScriptDeleteSqlTest" />
  </appSettings>
</configuration>